apiVersion: v2
appVersion: 3-latest
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 2.31.4
  - name: postgresql
    condition: postgresql.enabled
    repository: https://charts.bitnami.com/bitnami
    version: 18.2.3
  - name: redis
    condition: redis.enabled
    repository: https://charts.bitnami.com/bitnami
    version: 22.0.4
description: Prefect server application bundle
engine: gotpl
home: https://github.com/PrefectHQ
maintainers:
  - name: jamiezieziula
    email: jamie@prefect.io
  - name: jimid27
    email: jimi@prefect.io
  - name: parkedwards
    email: edward@prefect.io
  - name: mitchnielsen
    email: mitchell@prefect.io
name: prefect-server
sources:
  - https://github.com/PrefectHQ/prefect-helm
type: application
# This version is never actually shipped. github actions will package add the appropriate version at build-time
version: 0.0.0
