[tools]
actionlint = "1.7.9"
github-cli = "2.83.1"
helm = "3.19"
helm-ct = "3.14.0"
helm-docs = '1.14.2'
pre-commit = "4.5.0"
shellcheck = "0.11.0"
yamllint = "1.37.1"

# Variables
[env]
WORKER_CHART_NAME = "prefect-worker"
WORKER_CHART_PATH = "./charts/prefect-worker"
WORKER_RELEASE_NAME = "prefect-worker"
SERVER_CHART_NAME = "prefect-server"
SERVER_CHART_PATH = "./charts/prefect-server"
SERVER_RELEASE_NAME = "prefect-server"
PROMETHEUS_PREFECT_EXPORTER_CHART_NAME = "prometheus-prefect-exporter"
PROMETHEUS_PREFECT_EXPORTER_CHART_PATH = "./charts/prometheus-prefect-exporter"
NAMESPACE = "prefect"
VALUES_FILE = "./charts/prefect-server/values.yaml"

[tasks.tools]
description = "Install all tools and setup pre-commit"
depends = ["mise", "pre-commit-install"]

[tasks.mise]
description = "Install mise tools"
run = "mise install --yes"

[tasks.pre-commit-install]
description = "Install pre-commit hooks"
run = "pre-commit install"
outputs = [".git/hooks/pre-commit"]

[tasks.tools-list]
description = "List current mise tools"
run = "mise list --current"

[tasks.helm-repo]
description = "Add required Helm repositories"
run = "helm repo add bitnami https://charts.bitnami.com/bitnami"

[tasks.buildprom]
description = "Build Prometheus Prefect Exporter Helm dependencies"
run = "helm dependency build $PROMETHEUS_PREFECT_EXPORTER_CHART_PATH"
depends = ["helm-repo"]

[tasks.buildserver]
description = "Build Server Helm dependencies"
run = "helm dependency build $SERVER_CHART_PATH"
depends = ["helm-repo"]

[tasks.buildworker]
description = "Build Worker Helm dependencies"
run = "helm dependency build $WORKER_CHART_PATH"
depends = ["helm-repo"]

[tasks.buildall]
description = "Build all Helm dependencies"
depends = ["buildworker", "buildserver", "buildprom"]

[tasks.helmtest]
description = "Run Helm unittest"
run = "./scripts/helm_unittest.sh"

[tasks.charttest]
description = "Run chart-testing"
run = "./scripts/helm_charttest.sh"
