apiVersion: v2
appVersion: 3-latest
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 2.31.3
description: Prefect Worker application bundle
engine: gotpl
home: https://github.com/PrefectHQ
maintainers:
  - name: jamiezieziula
    email: jamie@prefect.io
  - name: jimid27
    email: jimi@prefect.io
  - name: parkedwards
    email: edward@prefect.io
  - name: mitchnielsen
    email: mitchell@prefect.io
name: prefect-worker
sources:
  - https://github.com/PrefectHQ/prefect-helm
type: application
# This version is never actually shipped. github actions will package add the appropriate version at build-time
version: 0.0.0
