---
name: Run Helm Unit Tests

"on":
  pull_request: {}

permissions: {}

jobs:
  unittest:
    runs-on: ubuntu-latest
    permissions:
      # required to read from the repo
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Resolve chart dependencies
        run: make buildall

      - name: Run helm unittest
        uses: d3adb5/helm-unittest-action@v2
        with:
          helm-version: v3.17.1
