---
name: Run Helm Unit Tests

"on":
  pull_request: {}

permissions:
  # required to read from the repo
  contents: read

jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run helm unittest
        run: ./scripts/helm_unittest.sh
