name: Release Helm Chart

on:
  push:
    branch:
      - adjust-versioning
    # tags:
      # - "*\\.*\\.*"  # only run on version tags

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get the version tags
        id: get_version
        run: |
          # Enable pipefail so git command failures do not result in null versions downstream
          set -x

          # echo ::set-output name=RELEASE_VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

          echo ::set-output name=PREFECT_VERSION::$(\
            git ls-remote --tags --refs --sort="v:refname" \
            https://github.com/PrefectHQ/prefect.git | tail -n1 | sed 's/.*\///' \
          )

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@v3.3
        with:
          version: v3.9.2

      - name: Prepare GPG key for signing
        run: |
          gpg_dir=/tmp/.gpg
          mkdir "$gpg_dir"
          keyring="$gpg_dir/secring.gpg"
          base64 -d <<< "$GPG_KEYRING_BASE64" > "$keyring"
          passphrase_file="$gpg_dir/passphrase"
          echo "$GPG_PASSPHRASE" > "$passphrase_file"
          echo "SIGN_PASSPHRASE_FILE=$passphrase_file" >> "$GITHUB_ENV"
          echo "SIGN_KEYRING=$keyring" >> "$GITHUB_ENV"
        env:
          GPG_KEYRING_BASE64: "${{ secrets.GPG_KEYRING_BASE64 }}"
          GPG_PASSPHRASE: "${{ secrets.GPG_PASSPHRASE }}"

      - name: Add dependency chart repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami

      # - name: Package Agent helm chart
      #   run: |
      #     mkdir /tmp/chart
      #     cd charts
      #     # Update the prefect version tag
      #     sed -i "s/^tag:.*$/tag: \"$PREFECT_VERSION\"/" prefect-agent/values.yaml
      #     helm package prefect-agent \
      #       --destination /tmp/chart \
      #       --dependency-update \
      #       --version $RELEASE_VERSION \
      #       --app-version $PREFECT_VERSION \
      #       --sign --key 'jamie@prefect.io' \
      #       --keyring $SIGN_KEYRING \
      #       --passphrase-file $SIGN_PASSPHRASE_FILE
      #   env:
      #     RELEASE_VERSION: ${{ steps.get_version.outputs.RELEASE_VERSION }}
      #     PREFECT_VERSION: ${{ steps.get_version.outputs.CORE_VERSION }}
      #     SIGN_KEYRING: ${{ env.SIGN_KEYRING }}
      #     SIGN_PASSPHRASE_FILE: ${{ env.SIGN_PASSPHRASE_FILE }}

      - name: Package Orion helm chart
        run: |
          cd charts
          # Update the prefect version tag
          sed -i "s/^tag:.*$/tag: \"$PREFECT_VERSION\"/" prefect-orion/values.yaml
          git checkout main
          # helm package prefect-orion \
          #   --destination /tmp/chart \
          #   --dependency-update \
          #   --version $RELEASE_VERSION \
          #   --app-version $PREFECT_VERSION \
          #   --sign --key 'jamie@prefect.io' \
          #   --keyring $SIGN_KEYRING \
          #   --passphrase-file $SIGN_PASSPHRASE_FILE
        env:
          # RELEASE_VERSION: ${{ steps.get_version.outputs.RELEASE_VERSION }}
          PREFECT_VERSION: ${{ steps.get_version.outputs.CORE_VERSION }}
          SIGN_KEYRING: ${{ env.SIGN_KEYRING }}
          SIGN_PASSPHRASE_FILE: ${{ env.SIGN_PASSPHRASE_FILE }}

      # - name: Update chart index
      #   run: |
      #     git stash  # Stash changes to the values.yaml so checkout doesn't complain
      #     git checkout gh-pages
      #     helm repo index /tmp/chart --url https://prefecthq.github.io/prefect-helm/charts --merge ./index.yaml

      # - name: Commit and push
      #   run: |
      #     cp /tmp/chart/index.yaml .
      #     cp /tmp/chart/prefect-agent-$RELEASE_VERSION.* ./charts
      #     cp /tmp/chart/prefect-orion-$RELEASE_VERSION.* ./charts
      #     git add ./index.yaml ./charts/prefect-agent-$RELEASE_VERSION.* ./charts/prefect-orion-$RELEASE_VERSION.*
      #     git commit -m "Release $RELEASE_VERSION"
      #     git push origin gh-pages
      #   env:
      #     RELEASE_VERSION: ${{ steps.get_version.outputs.RELEASE_VERSION }}
