---
name: Lint and Test Prometheus Prefect Exporter Chart

"on":
  pull_request_target:
    branches:
      - main

permissions: {}

jobs:
  lint_test:
    name: "lint-test (${{ matrix.kubernetes }})"
    runs-on: ubuntu-latest
    permissions:
      # required to read from the repo
      contents: read
    strategy:
      matrix:
        kubernetes:
          - "1.31.0"
          - "1.32.0"
          - "1.33.0"
          - "1.34.0"
      fail-fast: false

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (lint)
        run: ct lint --config .github/linters/prometheus-prefect-exporter-ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.13.0
        with:
          node_image: "kindest/node:v${{ matrix.kubernetes }}"

      - name: Install Prefect Server
        run: |
          helm dependency build ./charts/prefect-server/
          helm install prefect-server -n default ./charts/prefect-server/ --set=postgresql.auth.password=TESTING

      - name: Run chart-testing (install)
        run: |
          ct install --config .github/linters/prometheus-prefect-exporter-ct.yaml --helm-extra-set-args "--set=prefectApiUrl=http://prefect-server.default.svc.cluster.local:4200/api"
