---
name: Lint and Test Prefect Server Chart

"on":
  pull_request_target:
    branches:
      - main

permissions:
  # required to read from the repo
  contents: read

jobs:
  lint_test:
    environment: ${{
      (github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository) && 'Acceptance Tests (External)' || '' }}
    name: "lint-test (${{ matrix.kubernetes }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubernetes:
          - "1.31.0"
          - "1.32.0"
          - "1.33.0"
          - "1.34.0"
      fail-fast: false

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (lint)
        run: ct lint --config .github/linters/server-ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.13.0
        with:
          node_image: "kindest/node:v${{ matrix.kubernetes }}"

      - name: Run chart-testing (install)
        run: ct install --config .github/linters/server-ct.yaml --helm-extra-set-args "--set=postgresql.auth.password=TESTING"
