name: Lint and Test Prefect server Chart

on:
  pull_request:
    paths:
      - .github/workflows/server-lint-and-test.yaml
      - .github/linters/server-ct.yaml
      - 'charts/prefect-server/**'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3.5
        with:
          version: v3.9.2

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.3.1

      - name: Run chart-testing (lint)
        run: ct lint --config .github/linters/server-ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.5.0

      - name: Run chart-testing (install)
        run: ct install --config .github/linters/server-ct.yaml --helm-extra-set-args "--set=postgresql.auth.password=TESTING"
