name: Lint and Test Prefect Server Chart

on:
  pull_request:
    paths:
      - .github/workflows/server-lint-and-test.yaml
      - .github/linters/server-ct.yaml
      - 'charts/prefect-server/**'

jobs:
  lint-test:
    name: "lint-test (${{ matrix.kubernetes }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubernetes:
          - "1.25.8"
          - "1.26.3"
          - "1.27.0"
      fail-fast: false
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v3.5
        with:
          version: v3.11.2

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.4.0

      - name: Run chart-testing (lint)
        run: ct lint --config .github/linters/server-ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.7.0
        with:
          version: v0.18.0
          node_image: "kindest/node:v${{ matrix.kubernetes }}"

      - name: Run chart-testing (install)
        run: ct install --config .github/linters/server-ct.yaml --helm-extra-set-args "--set=postgresql.auth.password=TESTING"
