---
name: Validate Updatecli Config

"on":
  pull_request:
    branches:
      - main
    paths:
      - .github/updatecli/**

permissions:
  # required to read from the repo
  contents: read

jobs:
  validate_updatecli_configs:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: install updatecli
        uses: updatecli/updatecli-action@v2

      - name: validate manifest-minor
        run: updatecli diff --config .github/updatecli/manifest-minor.yaml

      - name: validate manifest-major
        run: updatecli diff --config .github/updatecli/manifest-major.yaml
